#results {
    min-height: 300px;
}

#div_params_general {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "slider_tsim slider_tsim"
        "slider_tw slider_w"
        "slider_tvi slider_vi"
        "slider_tvo slider_vo"
        "slider_Umin slider_Umax";
    grid-gap: 10px;
    padding: 5px 15px 10px 15px;
}

#div_params_plant {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "slider_Ks slider_Ksm"
        "slider_T1 slider_T1m"
        "slider_Td slider_Tm";
    grid-gap: 10px;
    padding: 5px 15px 10px 15px;
}

#div_params_NR {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "slider_Kc slider_Ti"
        "slider_Tr slider_To"
        "slider_beta slider_beta";
    grid-gap: 10px;
    padding: 5px 15px 10px 15px;
}

#div_params_MH {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "slider_Kp slider_Tf"
        "slider_alfa slider_alfa"
        "slider_KP slider_KD"
        "slider_Tc slider_Tc"
        "slider_beta1 slider_beta2";
    grid-gap: 10px;
    padding: 5px 15px 10px 15px;
}

/* 
  #div_params_plant{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
    'slider_tsim slider_tsim'         
    'slider_tw slider_w'
    'slider_tvi slider_vi'      
    'slider_tvo slider_vo'
    'slider_Ks slider_Ksm'
    'slider_T1 slider_T1m'   
    'slider_Td slider_Tm' 
    'slider_Tf slider_Tc'
    'slider_KP slider_Kc'     
    'slider_beta1 slider_beta1'   
    'checkbox_sat checkbox_sat'    
    'div_sats div_sats';
    grid-gap: 10px;
  } 
   */

#div_sats {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "slider_Umin slider_Umax";
    grid-gap: 10px;
}

/*
  'slider_Umin slider_Umax'
    'slider_Uifmin slider_Uifmax'
  */

.elementDisabled {
    pointer-events: none;
    /* for "disabled" effect */
    opacity: 0.5;
    /* background: #CCC; */
}

.param_label {
    display: block;
    float: left;
    width: 100px;
    text-align: left;
    padding-right: 10px;
    margin-top: -1.6em;
}

.labelrow {
    width: 47%;
    text-align: left;
    padding-right: 10px;
    margin-top: -1.2em;
}

h6 {
    margin: 10px;
}

.vstup2 {
    /*width: 300px;*/

    label {
        display: block !important;
    }
}

.inputs > input {
    margin-top: -0.6em;
    margin-bottom: -0.6em;
    display: block;
    float: left;
    width: 100%;
}

.checkbox-label {
    width: 100%;
    margin: 10px 0;
    text-align: left;
}

.checkbox-choice-label {
    width: 100%;
    margin: 5px -3px;
    padding: 0;
    text-align: left;
    font-size: small;
    border: 0;
    font-weight: 550;
}

.radiobox-label {
    width: 190px;
    text-align: left;
}

#div_radio,
#div_button {
    margin: 30px 0 0 0;
}

/*  
  fieldset {
    border: 0.5px;     
    border: solid;
    border-color: #c5c5c5;     
  }  
*/
legend {
    width: inherit; /* Or auto */
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom: none;
    font-size: 18px !important;
    margin-bottom: 30px !important;
    padding: 0px 20px !important;
}

input[type="number"] {
    background-color: #f6f6f6;
}

/*  .modebar{
      display: none !important;      
  }      */

/* OBRAZKY */
.div_choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    flex-basis: 180px;
    max-width: 180px;
    margin: 6px 12px;
    background: #f6f6f6;
    padding: 10px;
    box-shadow: 3px 3px 5px 1px #aaa;
}

/*
		.tile img {
			width: 100%;
		}
        
        .img_holder > img {
             width: 100%;
        }      */
.zoom_holder > img {
    width: 15px;
}

.tile h5 {
    margin-top: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*
        .tile .img_holder:hover {
			transform: scale(3.5);  
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            position:relative;
            z-index:999;
		}
        */

.image {
    display: inline-block;
}
img {
    width: 100%;
    display: inline-block;
}
div#modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: auto;
    z-index: 999;
}

.radiobox-label {
    width: 190px;
    text-align: left;
}
