.loader {
    position: absolute;
    left: 40%;
    top: 40%; /**/      
  /* display: flex;            establish flex container */
  /*flex-direction: column;    align children vertically (column format) */
  /*justify-content: center;   center children vertically */
  /*align-items: center;       center column horizontally */
    z-index: 1; 
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
 @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

 #results {
    min-height: 300px;
 }
 
 #div_params{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
    'slider_tsim slider_tsim'         
    'slider_tw slider_w'
    'slider_Ks slider_Ksm'
    'slider_a slider_am'   
    'slider_Tc slider_Tc'
    'slider_KP slider_KP'        
    'div_sats div_sats';
    grid-gap: 10px;
  } 
  
   #div_sats{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
    'slider_Umin slider_Umax';
    grid-gap: 10px;
  } 
  
  /*
  'slider_Umin slider_Umax'
    'slider_Uifmin slider_Uifmax'
  */
  
  .elementDisabled {
    pointer-events: none;
    /* for "disabled" effect */
    opacity: 0.5;
    /* background: #CCC; */
  }
  
 #div_tsim { grid-area: slider_tsim; } 
 #div_tw   { grid-area: slider_tw;   }
 #div_w    { grid-area: slider_w;    }     
 #div_Ks   { grid-area: slider_Ks;   }
 #div_Ksm  { grid-area: slider_Ksm;  }
 #div_a    { grid-area: slider_a;    }
 #div_am   { grid-area: slider_am;   }   
 #div_KP   { grid-area: slider_KP;   }  
 #div_Tc   { grid-area: slider_Tc;   }
 #div_Umin { grid-area: slider_Umin; }
 #div_Umax { grid-area: slider_Umax; }
 #div_sats   { grid-area: div_sats;    } 

  
label {
  display: block;
  float: left;
  width: 100px;
  text-align: left;
  padding-right: 10px;
  margin-top: -1.6em;
}
 .labelrow {
  width: 47%;
  text-align: left;
  padding-right: 10px;
  margin-top: -1.2em;
}
img {
  display: block;
  margin: 0 auto;
} 

h6 {
  margin: 10px;
} 
    
#par_tsim, #par_tw, #par_w, #par_Ks, #par_Ksm, #par_a, #par_am, #par_KP, #par_Tc, #par_Umin, #par_Umax {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}
.vstup {
  /*width: 300px;*/
  margin:10px 0;
}


/*  .modebar{
    display: none !important;      */